<div class="popup">
    <picture>
        <source type="image/webp" srcset="img/popup.webp">
        <img class="popup__bg" src="img/popup.jpg" alt="букет">
    </picture>
    <div class="popup__block">
        <button class="popup__close">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M23 23L1 1M1 23L23 1L1 23Z" stroke="white" stroke-opacity="0.3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
        <h3 class="popup__title">
            Оставьте свой<br>
            номер и мы вам
            перезвоним!
        </h3>
        <form action="/" class="popup__form">
            <input type="text" name="name" placeholder="Имя" class="popup__input">
            <input type="tel" name="phone" placeholder="Телефон" class="popup__input">
            <input type="submit" class="popup__btn btn btn--white" value="Позвоните мне">
        </form>
    </div>
</div>