
.action {
  @include reset-button;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;  
  padding-left: rem(24);
  padding-right: rem(24);
  height: rem(90);
  border: 0.4rem solid currentColor;
  width: 50%;
  cursor: pointer;

  &:hover {
    z-index: 1;
  }

  &:nth-child(2){
    margin-left: -0.3rem;
  }


  &--fill {
    width: 100%;
  }

  &:hover {
    color: $color-orange;
  }

  .arrow {
    margin-left: auto;
  }
}

.actions-block {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: rem(-125);
  z-index: 1001;
}
