
.app {
  position: relative;
  height: 100vh;
  min-height: 30vw;
  background-image: url('../img/bg/main-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet {
   padding-top: rem(170);
  } 

  &__section {
    display: none;

    &.active {
      display: block;
      @include fade-in;
    }
  }
}
