.card-info {
  padding-bottom: rem(20);
  margin-right: rem(20);
  display: flex;

  &:not(:first-child) {
    padding-top: rem(20);
    border-top: $color-gray solid 0.4rem;
  }

  &:last-child {
    margin-bottom: rem(254);
    border-bottom: $color-gray solid 0.4rem;
  }

  &__title {
    margin-top: rem(76);
    margin-bottom: rem(60);
  }

  &__left, &__image {
    width: 50%;
  }

  &__left {
    padding-right: rem(50);
  }
}



