@import "../../libs/normalize.css/normalize";
@import "../mixins/media";
@import "../mixins/rem";
@import "../mixins/resets";
@import "../mixins/animation";
@import "../utils/fonts";
@import "../utils/typography";
@import "../utils/spacing";


*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $main-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: rem(36);
}

img {
  max-width: 100%;
}

.app {
  position: relative;
  background-image: url('../img/bg/main-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.scroll-wrapper {
  //overflow-y: auto;
  padding-top: rem(60);
  height: 100%;
}

.bottom-line {
  position: absolute;
  width: 100%;
  height: rem(4);
  background-color: rgba($color-white, 0.5);
  bottom: rem(-40);
}
