.link-list {
  @include reset-list;
  display: flex;

  &--social {

    @include media-custom($tablet) {
      position: absolute;
      //transform: rotate(90deg);
      z-index: 1001;
      writing-mode: tb-rl;

      top: 50%;
      right: rem(144);
    }
   
    padding: 0;
    margin: 0;   
  }
}

.link-toggle {
  margin-right: rem(10);
  cursor: pointer;
  &.active {
    color: $color-orange;
  }

  &:hover {
    color: $color-orange;
  }

  a {
    color: currentColor;
  }
}
