.logo {
  display: flex; 
  position: absolute;
  top: rem(80);
  left: rem(144);
  z-index: 10;

  cursor: pointer;

  @include tablet {
    top: rem(32);
    left: rem(32);
  } 
  
  &__img {
    width: rem(109);
    height: rem(109);

    margin-right: rem(48);

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    width: min-content;
    display: flex;
    align-items: center;
  }
 
}