.nav-arrows {
  display: flex;
  position: absolute;
  z-index: 1000;
  bottom: 0;
  right: rem(380);

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(180);
    height: rem(144);
    background-color: $color-orange;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
    transition: color .3s;

    &:hover {
      color: $color-white;
    }
    
    &:focus {
      outline: none;
    }

    svg {
      width: rem(52);
      height: rem(52);
      pointer-events: none;
    }   

    &--next {
      svg {
        transform: rotate(180deg);
      }
    }
  }

 
}