.page {
  @include media-custom($tablet) {
    padding: rem(144) rem(72) rem(154) rem(154);
    height: 100vh;
    min-height: 30vw;
  }

  &:not(.page--static) {
    display: none;
  }

  &.active {
    display: flex;
    @include fade-in;
  }

  @include tablet {
    padding-right: rem(32);
    padding-left: rem(32);
  } 

  &__title {
    margin-bottom: rem(50);
  }

  &__number {
    font-size: rem(500);
    position: absolute;
    top: rem(-210);
    right: 0;
    opacity: .2;
    font-weight: 500;
  } 

  &__left, &__right {
    height: 100%;
    width: 50%;
    padding-right: rem(224);
    padding-top: rem(256);
    padding-bottom: rem(230);
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    border-top: rem(4) solid $color-white;
    height: 100%;
    padding-top: rem(30);

    &--scroll {
      position: relative;
      padding-top: rem(20);
    }

    &--slide {
      display: none;

      &.active {
        display: flex;
        @include fade-in;
      }
    }   

    &--factors {
      padding-top: 0;
    }

    &--geografy {
      position: relative;
    }

    &--info {
      padding-top: rem(400);
    }

    &--person {
      padding-top: 0;
      border-bottom: rem(4) solid $color-white;
    }
  }

  &__subpage {
    display: none;
    width: 100%;
    padding-right: rem(80);

    &.active {
      display: flex;
      @include fade-in;
    }
  }

  &--geografy {
    background-image: url('../img/map.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--history, &--leader {
    background-image: url('../img/bg/info-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
