.page-first-day {

  &__steps {
    margin-top: auto;
    margin-bottom: auto;
    height: rem(130);
  }
  
  &__description {
    padding-right: rem(80);
  }

  &__meet {
    margin-top: auto;
    margin-bottom: rem(120);
  }
}