.page-welcome {
  background-image: url('../img/bg/welcome-bg.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right top;

  &__title {
    margin-bottom: rem(50);
  }
}