.page {
  padding: rem(144) rem(72) rem(154) rem(154);

  min-height: 100vh;
  height: 50vw;

  &:not(.page--static) {
    display: none;
  }

  &.active {
    display: flex;
    @include fade-in;
  }

  .container {
    display: flex;    
  }

  &__left, &__right {
    width: 50%;
    padding-right: rem(224);
    padding-top: rem(256);
    padding-bottom: rem(230);
  }  

  &__content {
    border-top: rem(4) solid $color-white;
    height: 100%;
    padding-top: rem(90);
  }

  &__content {
    display: flex;
    flex-direction: column;
  } 

}