
.page-starter {
  padding: rem(400) rem(370) rem(385) rem(154);

  .page-content {
    width: 100%;
    border-top: 0.4rem solid $color-white;
    overflow-y: scroll;
  }

  &__number {
    margin-right: rem(28);
  }

  &__button {
    @include reset-button;
    height: rem(330);
    display: flex;
    width: 100%;
    margin-right: rem(40);
    padding-bottom: rem(80);
    padding-right: rem(60);
    align-items: flex-end;
    border-bottom: 0.4rem solid $color-white;

    &:hover {
      color: $color-orange;
      border-color: $color-orange;
    }


    .arrow {
      margin-left: auto;
    }
  } 

}
