.page-starter {
  @include media-custom($tablet) {
    padding: rem(400) rem(370) rem(385) rem(154);
    display: flex!important;
    transform: translateY(-100vh);
    transition: transform 1s;
    animation: none;
    position: absolute;
    z-index: 1002;
    background-image: url('../img/bg/main-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    &.open {
      transform: translateY(0);
    }
  }

  @include tablet {
    display: flex;
    flex-direction: column;
  }

  .page-content {
    width: 100%;
  }

 

  &__button {
    @include reset-button;
    display: flex;
    width: 100%;
    margin-right: rem(40);
    padding-bottom: rem(80);
    padding-right: rem(60);
    align-items: flex-end;
    border-bottom: 0.4rem solid $color-white;

    @include media-custom($tablet) {
      height: rem(330);
    }

    @include tablet {
      flex-direction: column;
      padding-top: rem(100);
      padding-bottom: rem(66);
      padding-right: rem(54);
    }

    &:hover {
      color: $color-orange;
      border-color: $color-orange;
    }

    .arrow {
      margin-left: auto;
      margin-bottom: rem(22);

      @include tablet {
        margin-top: rem(30);
      }
    }
  }

  &__number {
    margin-right: rem(28);
    margin-bottom: rem(22);

    @include tablet {
      align-self: flex-start;
    }
  }

  .burger {
    color: $color-orange;
  }
}
