.steps {

  &__title {
    margin-bottom: rem(60);
    animation: 2s ease infinite alternate flash;

    &.animation-stop {
      animation: none;
    }
  } 

  @keyframes flash {
    0% {
      color: $color-white;
    }
    100% {
      color: $color-orange;
    }
    
  }

  &__list {
    @include reset-list;
    display: flex;
  }
}

.step {
  cursor: pointer;
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: .5s; 

  width: 16.66%;

  &__des {
    opacity: 0;
    margin-top: rem(24);
    transition: opacity .8s;
    pointer-events: none;

  }

  &__number {
    position: relative;
    padding-top: rem(20);
    padding-bottom: rem(20);    
    pointer-events: none;
    transition-property: color;
    transition-duration: .8s;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: rem(4);
      background-color: currentColor;
      top: 0;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: rem(4);
      background-color: currentColor;
      bottom: 0;
      left: 0;
    }    
  }  

  &.active {
    opacity: 1;
    .step__number {
      color: $color-orange;
    }

    .step__des {
      opacity: 1;
      padding-right: rem(32);
    }
  }

  &.visited {
    opacity: 1;
  }
}