<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Welcome book</title>
		<link rel="stylesheet" href="css/style.min.css">

	</head>

	<body>
		<div class="app">

			{% include 'logo.twig' %}

			{% include 'page-starter.twig' %}


			<div id="page-slider" class="app__section">
				<button class="burger section-toggler" data-section="page-starter">
					<span></span>
					<span></span>
				</button>

				{% include 'welcome.twig' %}

				{% include 'first-day.twig' %}

				{% include 'useful.twig' %}

				<div class="page-control">
					<div class="page-control__wrapper">
						<div class="page-control__item" data-control="welcome">
							<div class="page-control__progress"></div>
							<span class="page-control__number">01.</span>
							<span class="page-control__text">
								Добро<br>
								пожаловать
							</span>
						</div>
						<div class="page-control__item" data-control="first-day" data-progress-bar>
							<div class="page-control__progress"></div>
							<span class="page-control__number">02.</span>
							<span class="page-control__text">
								Ваш первый<br>
								рабочий день в ТМК
							</span>
						</div>
						<div class="page-control__item" data-control="useful">
							<div class="page-control__progress"></div>
							<span class="page-control__number">03.</span>
							<span class="page-control__text">
								Полезная<br>
								информация
							</span>
						</div>
					</div>
				</div>

				<div class="page__nav-arrows nav-arrows">
					<button class="nav-arrows__arrow nav-arrows__arrow--prev">
						<svg xmlns="http://www.w3.org/2000/svg" width="52" height="51" viewbox="0 0 52 51">
							<path d="M2695.41,2000.37l-2.82-2.83L2667.13,2023l2.83,2.83Zm-2.82,48.09,2.82-2.83-25.45-25.46-2.83,2.83Zm26.48-23.46v-4h-50.14v4h50.14Z" transform="translate(-2667.12 -1997.53)"/>
						</svg>
					</button>
					<button class="nav-arrows__arrow nav-arrows__arrow--next">
						<svg xmlns="http://www.w3.org/2000/svg" width="52" height="51" viewbox="0 0 52 51">
							<path d="M2695.41,2000.37l-2.82-2.83L2667.13,2023l2.83,2.83Zm-2.82,48.09,2.82-2.83-25.45-25.46-2.83,2.83Zm26.48-23.46v-4h-50.14v4h50.14Z" transform="translate(-2667.12 -1997.53)"/>
						</svg>
					</button>
				</div>
			</div>

			<div id="info" class="app__section">
				{% include 'info.twig' %}
			</div>

			<ul class="link-list link-list--social text-default-small">
				<li class="link-toggle">
					<a href="https://ru-ru.facebook.com/TMKgroupRU/">Facebook&#32;/&#32;</a>
				</li>
				<li class="link-toggle">
					<a href="https://www.youtube.com/channel/UCQB-lRUr_DeTaHuY1ciDVPA">YouTube&#32;/&#32;
					</a>
				</li>
				<li class="link-toggle">
					<a href="https://www.instagram.com/tmk_group/">Instagram</a>
				</li>
			</ul>

			<div class="copyright text-default-small">© 2020 ПАО ТМК</div>

			<div class="bottom-gradient"></div>

		</div>


	</body>
	<script src="js/main.min.js"></script>

</html>
