<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Welcome book</title>
		<link rel="stylesheet" href="css/style.min.css">

	</head>

	<body>
		<div class="page page--static">
			<div class="container">
				<div class="page__left">
					<div class="logo">
						логотип
					</div>
				</div>
				<div class="page__right">
					<div class="page__control"></div>
					<div class="page__nav-arrows nav-arrows">
						<button class="nav-arrows__arrow nav-arrows__arrow--prev">
							<svg xmlns="http://www.w3.org/2000/svg" width="52" height="51" viewbox="0 0 52 51">
								<path d="M2695.41,2000.37l-2.82-2.83L2667.13,2023l2.83,2.83Zm-2.82,48.09,2.82-2.83-25.45-25.46-2.83,2.83Zm26.48-23.46v-4h-50.14v4h50.14Z" transform="translate(-2667.12 -1997.53)"/>
							</svg>
						</button>
						<button class="nav-arrows__arrow nav-arrows__arrow--next">
							<svg xmlns="http://www.w3.org/2000/svg" width="52" height="51" viewbox="0 0 52 51">
								<path d="M2695.41,2000.37l-2.82-2.83L2667.13,2023l2.83,2.83Zm-2.82,48.09,2.82-2.83-25.45-25.46-2.83,2.83Zm26.48-23.46v-4h-50.14v4h50.14Z" transform="translate(-2667.12 -1997.53)"/>
							</svg>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="page" data-page="welcome">
			<div class="container">
				<div class="page__left">
					<div class="page__content">
						<h1 class="h1">
							<span class="color-orange">Добро<br>
								пожаловать</span><br>
							в компанию

						</h1>
						<p>
							Скоро Вы станете сотрудником Публичного акционерного общества «Трубная Металлургическая Компания». Мы хотим помочь Вам быстрее адаптироваться в компании, понять ее обычаи и традиции, усвоить правила и нормы поведения, научиться ориентироваться как в офисе,
																																							так и в бизнес-процессах Компании, то есть стать полноценным членом команды ТМК. Ниже расположена информация, которая поможет вам познакомиться с историей Компании, географией ее присутствия, руководством и действующим Кодексом этики.
						</p>
						<p class="text-default-small">Позолотина Елена Ивановна</p>
						<p class="text-small">Заместитель генерального директора по упрапвлению персоналом – Директор корпоративного университета ТМК2U</p>
					</div>

				</div>
				<div class="page__right"></div>
			</div>

		</div>

		<div class="page active" data-page="first-day">
			<div class="container">
				<div class="page__left">
					<div class="page__content">
						<h1 class="h1 color-orange">
							Ваш первый<br>
							рабочий день в тмк
						</h1>
						<p>
							Мы ждём Вас в <span class="color-orange">09:00</span> по адресу: <span class="color-orange">Москва, ул. Покровка, д.40, стр,2А.</span> С собой необходимо иметь оригинал анкеты,
							паспорт и трудовую книжку.																																так и в бизнес-процессах Компании, то есть стать полноценным членом команды ТМК. Ниже расположена информация, которая поможет вам познакомиться с историей Компании, географией ее присутствия, руководством и действующим Кодексом этики.
						</p>
						<p class="text-default-small">Позолотина Елена Ивановна</p>
						<p class="text-small">Заместитель генерального директора по упрапвлению персоналом – Директор корпоративного университета ТМК2U</p>
					</div>
				</div>
				<div class="page__right">
						<div class="page__content">
						<h1 class="h1 color-orange">
							Ваш первый<br>
							рабочий день в тмк
						</h1>
						<p>
							Мы ждём Вас в <span class="color-orange">09:00</span> по адресу: <span class="color-orange">Москва, ул. Покровка, д.40, стр,2А.</span> С собой необходимо иметь оригинал анкеты,
							паспорт и трудовую книжку.																																так и в бизнес-процессах Компании, то есть стать полноценным членом команды ТМК. Ниже расположена информация, которая поможет вам познакомиться с историей Компании, географией ее присутствия, руководством и действующим Кодексом этики.
						</p>
						<p class="text-default-small">Позолотина Елена Ивановна</p>
						<p class="text-small">Заместитель генерального директора по упрапвлению персоналом – Директор корпоративного университета ТМК2U</p>
					</div>
				</div>
			</div>

		</div>


	</body>


</html>
