<div class="page menu page-starter app__section">
			{% include 'logo.twig' %}


	<div class="page-content">
	<div class="scroll-wrapper">
		<button class="page-starter__button section-toggler" data-section="page-slider" data-control="welcome">
			<div class="page-starter__number">01.</div>
			<div class="page-starter__text h1">Добро пожаловать</div>
			<div class="arrow">
				<svg xmlns="http://www.w3.org/2000/svg" width="38.312" height="38.312" fill="currentColor" viewbox="0 0 38.312 38.312">
					<path d="M188,849h4v36h-4V849Zm-32,36v-4h36v4H156Zm-2.142-35.314,2.828-2.828,35.456,35.456-2.828,2.828Z" transform="translate(-153.844 -846.844)"/>
				</svg>
			</div>
		</button>
		<button class="page-starter__button section-toggler" data-section="page-slider" data-control="first-day">
			<div class="page-starter__number">02.</div>
			<div class="page-starter__text h1">Ваш первый рабочий день</div>
			<div class="arrow">
				<svg xmlns="http://www.w3.org/2000/svg" width="38.312" height="38.312" fill="currentColor" viewbox="0 0 38.312 38.312">
					<path d="M188,849h4v36h-4V849Zm-32,36v-4h36v4H156Zm-2.142-35.314,2.828-2.828,35.456,35.456-2.828,2.828Z" transform="translate(-153.844 -846.844)"/>
				</svg>
			</div>
		</button>
		<button class="page-starter__button section-toggler" data-section="page-slider" data-control="useful">
			<div class="page-starter__number">03.</div>
			<div class="page-starter__text h1">Полезная информация</div>
			<div class="arrow">
				<svg xmlns="http://www.w3.org/2000/svg" width="38.312" height="38.312" fill="currentColor" viewbox="0 0 38.312 38.312">
					<path d="M188,849h4v36h-4V849Zm-32,36v-4h36v4H156Zm-2.142-35.314,2.828-2.828,35.456,35.456-2.828,2.828Z" transform="translate(-153.844 -846.844)"/>
				</svg>
			</div>
		</button>
		<button class="page-starter__button">
			<div class="page-starter__number">04.</div>
			<div class="page-starter__text h1">Кодекс этики</div>
			<div class="arrow">
				<svg xmlns="http://www.w3.org/2000/svg" width="38.312" height="38.312" fill="currentColor" viewbox="0 0 38.312 38.312">
					<path d="M188,849h4v36h-4V849Zm-32,36v-4h36v4H156Zm-2.142-35.314,2.828-2.828,35.456,35.456-2.828,2.828Z" transform="translate(-153.844 -846.844)"/>
				</svg>
			</div>
		</button>
	</div>
	
	</div>
	<div class="bottom-text text-default-small">
		<div class="bottom-text__item">
			Контакты: 105062, МОСКВА, УЛ. ПОКРОВКА, Д.40 СТР.2А
		</div>
		<div class="bottom-text__item">
			+7 (495) 775-7600
		</div>
		<div class="bottom-text__item">
			<a href="mailto:sales@tmk-group.com">SALES@TMK-GROUP.COM /</a>
			<a href="mailto:tmk@tmk-group.com">TMK@TMK-GROUP.COM</a>
		</div>
	</div>
</div>
