.pr-100 {
    padding-right: rem(130);
}

.mb-auto {
    margin-bottom: auto;
}

.mt-36 {
  margin-top: rem(36);
}

.mb-20 {
  margin-bottom: rem(20);
}

.mb-36 {
  margin-bottom: rem(36);
}

.mb-80 {
  margin-bottom: rem(80);
}

.m-0 {
  margin: 0;
}


