a {
  text-decoration: none;
}

.h1 {
  display: block;
  text-transform: uppercase;
  font-size: rem(100);
  font-weight: 600;
  margin: 0;
}

.h3 {
  font-size: rem(60);
  font-weight: 600;
}

.text-large {
  font-size: rem(60);
  font-weight: 400;
}

p, .text-default {
  font-size: rem(36);
  font-weight: normal;
  //margin: 0;
}


.text-default-small {
    font-size: rem(28);
}

.text-small {
    font-size: rem(24);
}

.italic {
  font-style: italic;
}
