a {
  text-decoration: none;
}

.h1 {
  text-transform: uppercase;
  font-size: rem(100);
  font-weight: normal;
}

p, .text-default {
  font-size: rem(36);
  font-weight: normal;
}


.text-default-small {
    font-size: rem(28);
}

.text-small {
    font-size: rem(24);
}

.italic {
  font-style: italic;
}
