// Mobile first
$mobile: 320px;
$tablet: 768px;
$tabletHorizontal: 1024px;
$laptop: 1366px;

//colors
$main-color: #1a1f23;
$color-white: #ffffff;
$color-gray: #515558;
$color-orange: #df793f;
$color-dark-orange: #b0531e;



.color-orange {
    color: $color-orange
}

.event-none {
    pointer-events: none;
}
