// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

//colors
$main-color: #1a1f23;
$color-white: #ffffff;
$color-gray: #515558;
$color-orange: #df793f;



.color-orange {
    color: $color-orange
}
